# MySQLite Database
# SECRET_KEY=
# DEBUG=True
# DB_TYPE=local
# DB_HOST=localhost
# DB_PASSWORD=
# USE_S3_BUCKET=False
# DB_NAME=db_name
# DB_USER=
# DB_PORT=


# Postgres Database
SECRET_KEY=
DEBUG=True
DB_TYPE=local
DB_HOST=localhost
DB_PASSWORD=
USE_S3_BUCKET=False
DB_NAME=db_name
DB_USER=
DB_PORT=